@media screen and (max-width: 1140px) {
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
        padding-left: 80px;
        align-items: center;
    }

    img {
        display: none;
    }

    
}


@media screen and (max-width: 1024px){
    .banner {
        margin-top: 10px;
    }
    main {
        padding-left: 30px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }
    button {
        width: 100%;
    }
    .banner {
        margin-top: 10px;
    }

    #button-prime {
        display: none;
    }
    #botao-1 {
        
    }

    .boll {
        
    }

    .banner-left {
        display: none;
    }
    .banner-rigth {
        padding:30px;
    }
    aside {
        margin-right: 20px;
    }



}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 52px;

    }
    p {
        font-size: 30px;
    }
}

@media screen and (max-width: 375px) {
    .boll {
        padding-right: 32px;
    }
    #contato {
        margin-left: 50px;
    }
}

@media screen and (max-width: 425px) {
    .boll {
        padding-right: 30px;
    }
    
}


@media screen and (max-width: 320px) {
    aside {
        margin-right: 50px;
    }
    h2 {
        font-size: 25px;
        margin-top: 0px;
    }
    li {
        font-size: 18px;
        margin-left: 5px;
        
    }
    ul {
        padding-left: 0px;
        margin-bottom: 0px;
    }
    p {
        line-height: 25px;
    }

    #botao-1 {
        font-size: 18px;
    }
    .title-banner {
        font-size: 30px;

    }
    .subtitle-banner {
        font-size: 18px;
    }
    .banner-rigth {
        padding: 10px;
        margin-top: 30px;
    }
    .content-title {
        font-size: 20px;
    }
    .content-text {
        
        margin-top: 50px;
    }
    .boll {
        padding-right: 35px;
    }





}

